.footer {
    padding-top: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contenido {
    width: 80vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ff64f7;
    background-color: transparent;
    padding-top: 75px;
    padding-bottom: 75px;
}

.footer-titulo {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #ff64f7;
}

.footer-imagen {
    height: 40px;
    width: 40px;
    margin-left: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.footer-imagen:hover {
    transform: scale(1.25);
}