.ver-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador-carrito {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff64f7;
    color: #0c0a3e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 1000;
    font-size: 17.5px;
}

.item-carrito {
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}