<!--Este código es HTML agregando handlebars-->
<!--La única diferencia es que handlebars permite utilizar plantillas con llaves. Como puse en el main-->
<!--Este archivo hace de mi body en el endpoint "http://localhost:4000/chat"-->



<h1>Chat Socket.io</h1>

<div class="chatContainer">
    <div>
        <ul class="ulParrafosMensajes" id="parrafosMensajes">
        </ul>
    </div>
    <div class="sendContainer">
        <input class="textInput" type="text" id="chatBox">
        <button id="botonChat" class="btn">Enviar</button>
    </div>
</div>