<!--Este código es HTML agregando handlebars-->
<!--La única diferencia es que handlebars permite utilizar plantillas con llaves. Como puse en el main-->
<!--Este archivo hace de mi body en el endpoint "http://localhost:4000/login"-->



<h1>Acceder</h1>
<form id="login">
    <label for="email">Email</label>
    <input type="text" required name="email">

    <label for="password">Password</label>
    <input type="text" required name="password">

    <button type="submit">Enviar</button>
</form><br><br>