<!--Este código es HTML agregando handlebars-->
<!--La única diferencia es que handlebars permite utilizar plantillas con llaves. Como puse en el main-->
<!--Este archivo hace de mi body en el endpoint "http://localhost:4000/login"-->



<h1>Iniciar sesión</h1>
<div>
    <form id="loginForm">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Ingrese su email" required>

        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Ingrese su contraseña" required>

        <button type="submit">Enviar</button>
    </form>
</div>

<div>
    <p>¿Aún no tenés una cuenta? <a href="/signup">Regístrate aquí</a></p>
</div>