/*Si al elemento padre le pongo un borde, al elemento hijo debo ponerle las medidas del padre pero restando las del borde para que quede bien*/
.card {
    height: 485px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
}

.card-hijo {
    height: 405px;
    width: 300px;
    margin-bottom: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid transparent;
}

.card-hijo:hover {
    border-color: #ff64f7;
}

.card-imagen {
    position: relative;
    height: 315px;
    width: 296px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.card-imagen img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-nombre {
    height: 86px;
    width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #ff64f7;
}

.card-boton {
    height: 35px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background-color: #ff64f7;
    border: 2px solid #ff64f7;
}

.card-span {
    color: #000033;
    height: 31px;
    width: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-boton:hover {
    background-color: transparent;
}

.card-boton:hover .card-span {
    color: #ff64f7;
}